{% extends 'substitute/base/min_base.html' %}
{% load static  substitute_tags i18n %}

{% block content %}
    <div class="container">
        <div class="row">


            <div class="col-6">
                <div class="mt-5">
                    <h3 class="h4 mb-2">Nutriscore</h3>
                    <img class="img-responsive" src="{% static 'substitute/img/'|add:nutrition_grades|add:'.png' %}"
                         alt="Nutriscore">
                </div>
            </div>

            <div class="col-6">
                <div class="mt-1">
                    <h3 class="h4 mb-2">{% trans 'Nutritional benchmarks for 100g' %}</h3>
                    <div class="row">
                        <table class="col-12 text-left">

                            <tr>
                                <td class="tb">{% trans 'Energy (kcal)' %}</td>
                                <td class="tb">{% widthratio nutriments|default:""|get_item:"energy_100g" 4.185 1 %}</td>
                            </tr>
                            <tr>
                                <td class="tb">{% trans 'Fat/lipids' %}</td>
                                <td class="tb">{{ nutriments|get_item:"fat_100g"|default:"" }}</td>
                            </tr>
                            <tr>
                                <td class="tbm">{% trans 'Of which saturated fatty acids' %}</td>
                                <td class="tb">{{ nutriments|get_item:"saturated fat_100g"|default:"" }}</td>
                            </tr>
                            <tr>
                                <td class="tb">{% trans 'Carbohydrates' %}</td>
                                <td class="tb">{{ nutriments|get_item:"carbohydrates_100g"|default:"" }}</td>
                            </tr>
                            <tr>
                                <td class="tbm">{% trans 'Of which sugar' %}</td>
                                <td class="tb">{{ nutriments|get_item:"sugars_100g"|default:"" }}</td>
                            </tr>
                            <tr>
                                <td class="tb">{% trans 'Dietary fiber' %}</td>
                                <td class="tb">{{ nutriments|get_item:"fiber_100g"|default:"" }}</td>
                            </tr>
                            <tr>
                                <td class="tb">{% trans 'Protein' %}</td>
                                <td class="tb">{{ nutriments|get_item:"proteins_100g"|default:"" }}</td>
                            </tr>
                            <tr>
                                <td class="tb">{% trans 'Salt' %}</td>
                                <td class="tb">{{ nutriments|get_item:"salt_100g"|default:"" }}</td>
                            </tr>
                            <tr>
                                <td class="tbm">{% trans 'Of which Sodium' %}</td>
                                <td class="tb">{{ nutriments|get_item:"sodium_100g"|default:"" }}</td>
                            </tr>
                            <tr>
                                <td class="tb">{% trans 'Nutritional Score - France' %}</td>
                                <td class="tb">{{ nutriments|get_item:"nutrition score-fr_100g"|default:"" }}</td>
                            </tr>
                            <tr>
                                <td class="tbm">{% trans 'Of which Nutri-Score' %}</td>
                                <td class="tb">{{ nutriments|get_item:"group_100g"|default:"" }}</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div>
            <hr>
                {% trans 'Store likely to sell this product :' %}
                {% for store in stores %}
                    {{ store.name }},
                {% endfor %}
            <hr class="detail-separator">


        </div>
    </div>

    <a href="{{ url }}">{% trans 'See the Openfoodfact card .' %}</a>

    {% if searched_article|unregistred:user.id %}
        <form class="form-check-inline" method="post" action="{% url 'register_substitut' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="come_from" value="detail"/>
            <input type="hidden" name="user_id" value="{{ user.id }}"/>
            <input type="hidden" name="article_id" value="{{ searched_article.id }}"/>
            <input type="hidden" name="searching" value="a"/>
            <button type="submit" class="fas fa-2x fa-save text-primary mb-4">{% trans ' Save' %}</button>
        </form>

    {% else %}
        <h5>{% trans 'This article has already been saved in your substitutes.' %}</h5>
    {% endif %}

{% endblock %}

