{% extends 'substitute/base/full_base.html' %}

{% load static i18n %}

{% block masthead_content %}
        <div class="text-white m-5 p-5">
            <form class="text-right" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="form_url" value={{ form_url }}/>
                <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
            </form>

            {% if form_url == "log_in" %}
                <p>{% trans 'No account yet !!!' %}</p>

                <form class="text-right" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="form_url" value='register'/>
                    <button type="submit" class="btn btn-primary">{% trans 'Create an account' %}</button>
                </form>



            {% endif %}
            {% for message in messages %}

                <div class="alert alert-success">
                    <a class="close" href="#" data-dismiss="alert">×</a>

                    {{ message }}

                </div>
            {% endfor %}
        </div>
{% endblock %}
