{% extends 'substitute/base/min_base.html' %}
{% load static substitute_tags i18n %}

{% block content %}

    {# popup to inform substitute registration#}
    {% if message %}
        <div class="container align-items-center">
            <div class="toast" data-autohide="true" data-delay="3000">
                <div class="toast-body alert-info">
                    {% trans 'Your substitute has just been save !' %}
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        $(document).ready(function () {
            $('.toast').toast('show');
        });
    </script>

    <div class="row no-gutters mb-6">
        {% if articles is None %}
        {% else %}
            {% for article in articles %}
                <div class="col-lg-4 col-sm-6 align-self-end border-rbl">
                    <a href="{% url 'detail' article_id=article.id %}">
                        <div class="super_img">
                            <img class="img-responsive article" src="{{ article.image_url }}" alt="{{ article.product_name }}">
                            {% if article.nutrition_grades %}
                                <img class="img-responsive grade"
                                     src="{% static 'substitute/img/'|add:article.nutrition_grades|add:'.png' %}"
                                     alt={{ article.nutrition_grades }}>
                            {% endif %}
                        </div>

                    </a>
                    <p></p>
                    <h4><a href="{% url 'detail' article_id=article.id %}">{{ article.product_name }}</a></h4>

                    {% if article|unregistred:user.id %}
                        <form class="form-check-inline" method="post" action="{% url 'register_substitut' %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="come_from" value="results"/>
                            <input type="hidden" name="user_id" value="{{ user.id }}"/>
                            <input type="hidden" name="article_id" value="{{ article.id }}"/>
                            <input type="hidden" name="searching" value="{{ masthead_content }}"/>
                            <button type="submit" class="fas fa-2x fa-save text-primary mb-4"> {% trans ' Save' %}</button>
                        </form>
                    {% else %}
                        <h5>{% trans 'This article has already been saved in your substitutes.' %}</h5>
                    {% endif %}


                </div>

                {% if forloop.counter|divisibleby:3 %}
                    <div class="clearfix"></div>{% endif %}
            {% endfor %}

        {% endif %}
    </div>

    <div class="row no-gutters mb-6">
        <h5>{% trans 'Title proposal related to your research : '%}{{ initial_search }}</h5>
    </div>

{% endblock %}


