{% extends 'substitute/base/full_base.html' %}

{% load static i18n %}

{% block masthead_content %}

        <div class="align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">{% trans 'Fat, yes, but quality!' %}</h1>
          <hr class="divider my-4">
        </div>
        <div class="align-self-baseline">
          <h2 class="text-white-75 font-weight-light mb-5">{% trans 'Find a substitute for those you eat every day.' %}</h2>
        </div>
        <div class="align-self-baseline">
          <form class="form-check-inline text-center my-2 my-lg-0" method="post" action="{% url 'search' %}">
              {% csrf_token %}
            <input class="form-control mr-0" type="text" name="searching" value="" id="searching" placeholder="{% trans 'search' %}" title="{% trans 'search a substitute' %}" aria-label="{% trans 'product' %}">
          <button class="form-control my-2 my-sm-0" type="submit">{% trans 'Search' %}</button>
        </form>
        </div>

{%  endblock %}

{% block content %}
  <!-- Services Section -->
  <section class="page-section" id="about">
    <div class="container">
      <h2 class="text-center mt-0">{% trans 'From ratatouille to croissants.' %}<br/><br/>{% trans 'Pure Butter is the initiative of two lovers of French gastronomy, Colette Tatou and Rémy, whom you have certainly met in our excellent restaurant Ratatouille.' %}</h2>
      <hr class="divider my-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 text-center">
          <div class="mt-5">
             <img class="img-responsive"  src="{% static 'substitute/img/colette.png' %}" alt="Colette">
            <h3 class="h4 mb-2">Colette</h3>
            <p class="text-muted mb-0">{% trans 'We all love to eat, especially in France! Personally, a fresh baguette, good goat cheese and a good red wine are enough for me. Like everyone else, I shop at the supermarket. But little by little I realized, especially when we opened the restaurant, that I could replace the sanitized products that I used to buy with good local products And often for the same price!' %}</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 text-center">
          <div class="mt-5">
            <img class="img-responsive" src="{% static 'substitute/img/remy.jpg' %}" alt="Colette">
            <h3 class="h4 mb-2">Remy</h3>
            <p class="text-muted mb-0">{% trans 'For my part I already went to many stores because I love to walk around, especially in cellars and kitchens. I knew by heart the content of organic shops (which I love) and the ingredients of all the food sold. When Colette asked me if she could replace her morning Nutella with a healthier food, I knew where to find it right away. The idea of ​​Pure Butter was born!' %}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">{% trans 'Contact us !' %}</h2>
          <hr class="divider my-4">
          <p class="text-muted mb-5">{% trans 'We make every effort to bring new features (online orders of your favorite products, eg ...), so do not hesitate to contact us if you have any questions or comments.' %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
          <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
          <div>+1 (202) 555-0149</div>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
          <!-- Make sure to change the email address in anchor text AND the link below! -->
          <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
